AccessModifierOffset: -4
AlignAfterOpenBracket: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ColumnLimit: 90
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentWidth: 4
Language: Cpp
PointerAlignment: Right
SortIncludes: true
SpaceBeforeParens: ControlStatements
UseTab: Never
